<!DOCTYPE html>
<html>
    <head>
        <title>Página de testes</title>
        <link rel="stylesheet" type="text/css" href="css/teste.css">
    </head>
    <body>
        asdasdasd
    </body>
</html>